<p id="notice"><%= notice %></p>

<center> <h1>தமிழ்ச் சங்கம்</h1>
</br>
<center>
<%= image_tag("tamil.png", height: "300") %>
<br/>
<h2> தகவலை சேர்த்திடு! <br/> தமிழுடன்  சேர்ந்திடு! </h2> 
</center>
<br/>
<br/>
<br/>
<br/><br/>



