<center> <p> தமிழ் சார்ந்து இயங்கும் அமைப்புகளின் பட்டியல் இது.<br/>
தமிழுக்காக பல்வேறு அமைப்புகளும் இயக்கங்களும் செயல்படுகின்றன.<br/>
அவற்றை ஒரே இடத்தில் தொகுக்கும் முயற்சி இது.<br/>

உங்களுக்குத் தெரிந்த அமைப்புகள் விவரங்களை இங்கு சேருங்களேன்.<br/>

நன்றி</p></center>