
<center>
	<p>
		<h3>
			<b> பெயர்:த.சீனிவாசன் </b> 
		</h3>
	 	<h3> 
	 		<b> மின்னஞ்சல் முகவரி:tshrinivasan@gmail.com </b> <br/>
		</h3>
		<h3>
			<b>9841795468</b>
		</h3>
	</p>
</center>

<center>
<%= image_tag("shrini.jpg", height: "300") %>
<br/>
</center>
